@page "/secret"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>只有登入後才能看到這一頁</h3>

<AuthorizeView>
    <Authorized>
        <p>現在的使用者：@context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>尚未登入。</p>
    </NotAuthorized>
</AuthorizeView>
