@page "/launch"
@inject NavigationManager NavigationManager
<h3>請稍後，正在初始化中</h3>

@code {
    [SupplyParameterFromQuery(Name = "iss")]
    public string? Iss { get; set; }
    [SupplyParameterFromQuery(Name = "launch")]
    public string? LaunchCode { get; set; }

    override protected async Task OnInitializedAsync()
    {
        var foo = SmartAppSettingService;
        KeepLaunchIss();
        var bar =await GetMetadataAsync();
        var authUrl = GetAuthorizeUrl();

        NavigationManager.NavigateTo(authUrl);
    }

}
