<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- 文件输出目标 -->
		<target xsi:type="AsyncWrapper" name="file_async"
				overflowAction="Discard"
				queueLimit="10000"
				batchSize="1"
				timeToSleepBetweenBatches="50"
				fullBatchSizeWriteLimit="5"
				>
			<target name="file" xsi:type="File"
					fileName="${var:BasePath}/${var:LogFilenamePrefix}-${shortdate}.log"
					layout="${longdate}|${aspnet-TraceIdentifier}|${level:uppercase=true}|${threadid}|${logger}|${message}|${exception:format=toString,StackTrace:maxInnerExceptionLevel=5}"
					keepFileOpen="true"
						openFileCacheTimeout="30"
						enableFileDelete="true"
						autoFlush="true"
						bufferSize="8192"
						archiveDateFormat="yyyy-MM-dd"
						archiveNumbering="Date"
						encoding="utf-8"
						archiveEvery="Day"
						maxArchiveDays="30"
						archiveAboveSize="104857600"/>
		</target>
		<!-- 控制台输出目标 -->
		<target xsi:type="AsyncWrapper" name="console_async"
		overflowAction="Discard"
		queueLimit="500000"
		batchSize="500">
			<target name="console" xsi:type="Console"
				layout="${longdate}|${mdlc:TraceId}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=toString,StackTrace}" />
		</target>
	</targets>

	<!--<rules>
		--><!-- 1. Microsoft.Hosting.Lifetime - 记录 Info 及以上，输出到文件和控制台 --><!--
		<logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" writeTo="file_async,console_async" final="true" />
		--><!-- 2. 其他 Microsoft.* 和 System.* - 只记录 Warn 及以上 --><!--
		<logger name="Microsoft.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />
		--><!-- 3. 其他所有日志 - 记录 Info 及以上 --><!--
		<logger name="*" minlevel="Info" writeTo="file_async,console_async" />
	</rules>-->

	<rules>
		 1. Microsoft.Hosting.Lifetime - 明确记录 Info 及以上 
		<logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" writeTo="file_async,console_async" final="true" />

		 2. 抑制其他 Microsoft.* 和 System.* 的 Info 级别日志，只记录 Warn 及以上 
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics" finalMinLevel="Warn" />
		<logger name="Microsoft.AspNetCore.Routing.*" finalMinLevel="Warn" />
		<logger name="Microsoft.AspNetCore.StaticAssets.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="file_async,console_async" final="true" />

		 3. 其他所有应用程序日志 - 记录 Info 及以上 
		<logger name="*" minlevel="Info" writeTo="file_async,console_async" />
	</rules>


</nlog>
